@import url("fonts.css");
@import url("form.css");
@import url("utility.css");
@import url("variables.css");
@import url("feel.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    font-weight: 300 !important;
    line-height: 21px;
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: normal;
    font-style: normal;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

section {
    width: 85%;
    margin: 0 auto;
}

@media (max-width: 768px){
    section {
        width: 85%;
        margin: 0 auto;
    }
}